.About{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    z-index: 2;
    
    
}
.About p{
    max-width: 600px;
   text-align: justify;
    
}
.About h2{
    top: 0;
    left: 0;
    z-index: 2;
}

@media screen and (max-width: 1040px){
    .About{
        display: block;
        font-size: small;
       
    }
    .About h2{
        font-size: 20px;
        color: white;
        margin-left: 20%;        
        
    }
    .hero-img h2{
        margin-left: 20%;
    }
    .About p{
        font-size: 17px;
        color: white;
        margin: 40px;
        text-align: justify;
       
    }
}