/* .contact-info{
    top: 0;
    left: 0;
    z-index: 10;
} */

.home-icon{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin-left: 1rem;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.email{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.connect{
    display: column;
   
    
    font-weight: bold;
}
.connect .linkedin{
    display: flex;
    text-decoration: none;
    color: white;
     justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    
    margin-bottom: 10px;
}
.connect .github{
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.connect .github:hover{
    color: red;
    background-image: linear-gradient(to right,blue,green,yellow);
    transition: 1s;
}
.connect h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    height: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: underline;
}
.connect .linkedin:hover{
    color: red;
    background-image: linear-gradient(to right,blue,green,yellow);
    transition: 1s;
}
@media screen and (max-width: 1040px){
    .contact-info h1{
        font-size: 22px;
        text-align: left;

    }
    .contact-info .email{
       text-align: left;
    }
    .contact-info .email{
        text-align: left;
     }
}