.passport{
    height: 400px;
    width: 250px;
    
    
}
.my-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-project{
    padding: 10px 1rem;
    background: yellow;
   display: flex;
   margin-left: 50%;
   margin-bottom: 100px;
}
.btn-project:hover{
    background-color: white;
    color: red;
    transition: 0.3s;
}
@media screen and (max-width: 1040px){
    .my-info{
        display: flex;
        flex-direction: column;    
    }
    .my-info .passport{
        border-radius: 50%;
        
    }
    .my-info h2{
        color: blue;
    }
    .btn-project{
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 100px;
        
    }

}